/* HEADER CSS - START */

#bodyTable{
  margin-left: 10%;
  margin-right: 10%;
}

#ebay-logo{
  width: 30%;
}
/* HEADER CSS - END */

/* HERO BODY CSS - START */
#heroContentWrapper{
  background-color: #f7e376;
}

#heroMainHeading{
  color: #5c1b05!important;
  font-size: 404%;
  font-family: sans-serif;
  padding-bottom: 6%;
}

#heroSubHeading{
  color: #5c1b05!important;
  font-family: sans-serif;
  font-size: 146%;
  padding-bottom: 3%;
}

#HeroImageContainer{
  padding: 0;
  width: 49%;
  background-image:url('/img/HeroDesktopBg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#HeroDesktopBg{
  width: 100%;
  height: 100%;
  display: block; /*otherwise it wont occupy the whole container*/
}

#HeroMobileBgContainer{
  display: none;
}

#heroMobileBackGround{
  background-image:url('/img/HeroDesktopBg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#heroCTA{
  border: 4px solid #5c1b05;
  color: #5c1b05;
  background: #f7e376;
  font-family: sans-serif;
  font-size: 175%;
  padding: 1%;
  margin-bottom: 10%;
}
/* HERO BODY CSS - END */

/* HERO DIVIDER CSS - START */
#dividerContainer{
  height: 45px;
}

 #Rectangle1{
  background-color: #ff8559;
  width: 44%;
  height: 26px;
}
#Rectangle2{
  background-color: #f7b100;
  height: 100%;
  width:10% ;
}
#Rectangle3{
  background-color: #fbcd25;
}

/* HERO DIVIDER CSS - END */

/* PRODUCT DESCRIPTION CSS - START */
#productDescHeadliner{
  color: #5c1b05!important;
  font-family: sans-serif;
  font-weight: 800;
}
/* PRODUCT DESCRIPTION CSS - END */

/* MAKING EMAIL RESPONSIVE CSS - START */
@media screen and (max-width: 960px) {
  /* #HeroImageContainer{
    display: none;
  } */
  /* shifting the image for smaller screens here */
  /* #HeroMobileBgContainer{
    display: table-cell;
  } */
  #dividerContainerDesktop{
    display: none;
  }
  #HeroBodyWrapper{
    display: flex;
    flex-direction: column;
  }
  #HeroImageContainer{
    width: 100%;
    height: 221px;
  }
  #dividerForMobile{
    display: table-cell;
  }
}
/* MAKING EMAIL RESPONSIVE CSS - END */