/* HEADER CSS - START */
#ebay-logo{
  width: 20%;
}
/* HEADER CSS - END */

/* HERO BODY CSS - START */
#heroMainHeading{
  color: #5c1b05!important;
  font-size: 500%;
  font-family: sans-serif;
}
/* HERO BODY CSS - END */